<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo - 문제 페이지</title>
    <link href="/static/css/category.css" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script type="text/javascript">
        alert("{{ messages[-1] }}");
        </script>
    {% endif %}
    {% endwith %}
    <!--Menu Bar-->
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='/'" src="/static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
        {% if not islogin %}
            <h1 class="menu-login" onclick="location.href='/login'">로그인</h1>
        {% endif %}
        <h1 class="menu-mypage" onclick="location.href='/mypage'">마이페이지</h1>
    </nav>

    <div class="container">
        <h1 id="category-title" class="category-title">{{ category.name }}</h1>

        <hr class="horizontal-bar">

        <div class="question-table">
            {% for problem in problems %}
            <div class="question-row" onclick="location.href='/question?value={{ category.name }}&number={{ problem.id }}'">
                <div class="question-number">#{{ problem.id }}</div>
                <div class="question-title">{{ problem.title }}</div>
                <div class="question-status">{{ problem.status }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>