<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onsoo | Join/회원가입</title>
    <link href="/static/css/join.css" rel="stylesheet">
</head>
<body>
    <!--Menu Bar-->
    {%with messages = get_flashed_messages()%}
    {%if messages %}
        <script type="text/javascript">
        alert("{{messages[-1]}}");
        </script>
        {%endif%}
    {%endwith%}
    <nav>
        <div class="menu-background"></div>
        <img class="menu-img" onclick="location.href='/'" src="/static/img/Onsoo_Logo.png" alt="Onsoo - Logo">
        <h1 class="menu-mypage" onclick="location.href='/mypage'">마이페이지</h1>
    </nav>

    <h1 class="main-text">
        회원가입
    </h1>

    <hr class="horizontal-bar">

    <div class="container">
        <!-- Create a form that submits data via POST -->
        <form action="/join" method="POST">
            <div>
                <div>
                    <h1 class="text">아이디</h1>
                    <input type="text" name="userid" class="input" placeholder="ID 입력">
                </div>

                <div>
                    <h1 class="text">비밀번호 입력</h1>
                    <input type="password" name="password" class="input" placeholder="PW를 입력하세요" required>
                </div>
            </div>

            <div>
                <h1 class="text">비밀번호 확인</h1>
                <input type="password" name="confirm_password" class="input" placeholder="PW를 입력하세요" required>
            </div>

            <div>
                <button type="submit" class="check">회원 가입</button>
            </div>
        </form>
    </div>

</body>
</html>
